*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    /* background-color: #f1f1f1 !important; */
    background: linear-gradient(90deg, rgba(96,0,141,0.5718487223991159) 50%, rgba(238,111,111,1) 100%);
    /* background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,0.6586834562926733) 0%, rgba(252,70,107,0.8071428400461748) 100%);  */

}
.text{
    margin: auto;
    width: 25%;

}
.divi{
    background-color: #60008de5;
}
.div1{
    padding: 20px 40px;
    border-radius: 30px;
}
.main-text{
    text-align: center;
    color: #ffffffbb;
    line-height: 30px;
}
.main-text>span{
    color: #ee6f6fb7;

}
.form-group{
    /* position: relative; */
    margin: 15px 0;
    display: flex;
    flex-direction:column;
    justify-content: left;
    align-items: left;
}
.form-group>label{
    color: #ffffff;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
}
.form-main{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.icon{
    color: #000000;
    padding: 10px;

}
.icon1{
    color: #000000;
    min-width: 50px;
    padding: 9px 15px 9px 25px;
    width: 12%;
}
.input-field {
    width: 85%;
    padding: 5px 5px;
    border: none;
    background-color: #fff;
}
.input-field1{
    width: 85%;
    margin: 5px 5px;
    padding: 5px 0;
    border: none;
}
.input-field2 {
    width: 100%;
    padding: 9px 5px;
    border: none;
    background-color: #fff;
    
}

#country{
    color: #847d7d;
}
.account{
    text-align: center;
}
.account>span{
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}
.account>span>a{
    color: #ee6f6fb7;
    font-size: 12px;
    font-weight: 600;
}

